/* إعداد الخلفية ولون النص */
body {
   background-color: #591499;
   color: aliceblue;
}

/* عنوان رئيسي في وسط الصفحة */
.title {
   text-align: center;
}
/*تنسيق قسم الطلبات*/
.talabt {
   display: flex; /* عرض العناصر بجانب بعض */
   align-items: inline; /* توسيط عمودي للعناصر */
   gap: 20px; /* مسافة بين العناصر */
}

.talabt img {
   width: 250px;
   height: 200px;
}

.talabt h2 {
   margin: 0; /* إزالة الهوامش */
   font-size: 24px;
   text-align: center;
 
}

.talabt p {
   font-size: 20px;
}

/* تنسيق  الذكاء الاصطناعي */
.ai {
   display: flex; /* عرض أفقي */
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}

.ai img {
   width: 230px;
   height: 270px;
}

.ai h2 {
   margin: 0;
   font-size: 24px;
  text-align:center;
}

.ai p {
   font-size: 23px;
}

/* تنسيق ايجابي */
.organizing {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}

.organizing img {
   width: 230px;
   height: 270px;
}

.organizing h2 {
   margin: 0;
   font-size: 24px;
   
}

.organizing p {
   font-size: 20px;
}
/* إعداد الخلفية ولون النص */
body {
   background-color: #591499;
   color: aliceblue;
}


/* تنسيق قسم الطلبة */
.talabt {
   display: flex; /* عرض العناصر بجانب بعض */
   align-items: center; /* توسيط عمودي للعناصر */
   gap: 20px; /* مسافة بين العناصر */
}

.talabt img {
   width: 250px;
   height: 200px;
}

.talabt h2 {
   margin: 0; /* إزالة الهوامش */
   font-size: 24px;
 
}

.talabt p {
   font-size: 20px;
}

/* تنسيق قسم الذكاء الاصطناعي */
.ai {
   display: flex; /* عرض أفقي */
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}

.ai img {
   width: 230px;
   height: 270px;
}

.ai h2 {
   margin: 0;
   font-size: 24px;
   
}

.ai p {
   font-size: 23px;
}

/* تنسيق قسم التنظيم */
.organizing {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 50px;
}

.organizing img {
   width: 230px;
   height: 270px;
}

.organizing h2 {
   margin: 0;
   font-size: 24px;
   /* بدون display:inline لأن flex كافي */
}

.organizing p {
   font-size: 20px;
}
